:root {
    --mc: #d97e59;
}
.Wrapper {
    font-family: "Pretendard";
    letter-spacing: -0.025em;
    /* width: 1920px; */
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.titImg {
    margin-bottom: 10px;
}

/* 
.Header
 */
.Header {
    background: var(--mc);
    color: #fff;
}
.Header nav {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
}
.Header nav h1 {
    font-size: 0;
}
.Header nav > ul {
    display: flex;
    gap: 30px;
}
.Header .center {
    font-size: 17px;
}
.Header .right {
    font-size: 21px;
}
/* 
.Header
 */

/* 
.MainVisual
 */
.MainVisual {
    position: relative;
    width: 100%;
    margin-bottom: 120px;
    overflow-x: hidden;
}
.MainVisual .mainSlider figure {
    height: calc(100vh - 100px);
}
.MainVisual .itm01 {
    background: url(../img/m3840x1440/kv_v2.jpg) no-repeat center center/cover;
}
.MainVisual .itm02 {
    background: url(../img/m3840x1440/kv_v3.jpg) no-repeat center center/cover;
}
.MainVisual .itm03 {
    background: url(../img/m3840x1440/kv_v4.jpg) no-repeat center center/cover;
}
.MainVisual .swiper-pagination {
    bottom: 30px;
}
.MainVisual .swiper-pagination-bullet {
    width: 150px;
    height: 5px;
    border-radius: 0;
    background: var(--mc);
    transition: 0.5s;
}
.mainSlogan {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    width: 800px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 1px #000;
}
.mainSlogan span {
    font-weight: 500;
}
.mainSlogan .swiper-slide {
    opacity: 0;
}
.mainSlogan .swiper-slide-active {
    opacity: 1;
}
/* 
.MainVisual
 */

/* 
.Connect
 */
.Connect {
    background: #fff;
    text-align: center;
    margin-bottom: 120px;
}
.Connect h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}
.Connect p {
    font-size: 19px;
    font-weight: 300;
}
.Connect strong {
    font-size: 23px;
}
.Connect span::after {
    content: "";
    display: inline-block;
    width: 200px;
    height: 1px;
    margin: 0 10px;
    background: #000;
    vertical-align: middle;
}
/* 
.Connect
 */

/* 
.Smart
 */
.Smart {
    text-align: center;
    margin-bottom: 120px;
}
.Smart .container {
}
.Smart .container .content {
    display: flex;
}
.Smart .left,
.Smart .right {
    flex: 1;
}
.Smart .left {
    height: 700px;
}

.Smart h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}
.Smart .container > span {
    display: inline-block;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 30px;
}
.Smart p {
    height: 50px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 10px;
    margin-right: 30px;
    font-size: 19px;
    font-weight: 700;
    color: #000;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
.Smart p.on {
    height: 460px;
}
.Smart .left .img01 {
    background: url(../img/smart/cut01_paint_cooking.jpg) no-repeat top
        center/cover;
    color: #ff7447;
}
.Smart .left .img02 {
    background: url(../img/smart/cut01_paint_Energy.jpg) no-repeat top
        center/cover;
    color: #3e9efd;
}
.Smart .left .img03 {
    background: url(../img/smart/cut01_paint_aircare.jpg) no-repeat top
        center/cover;
    color: #00b5fa;
}
.Smart .left .img04 {
    background: url(../img/smart/cut01_paint_clothingcare.jpg) no-repeat top
        center/cover;
    color: #32bdac;
}
.Smart .left .img05 {
    background: url(../img/smart/cut01_paint_homecare.jpg) no-repeat top
        center/cover;
}
.Smart .txt {
    font-family: "Noto Sans KR";
    display: none;
}
.Smart .txt.on {
    display: block;
}
.Smart .txt h3 {
    font-size: 23px;
    line-height: 1.25;
}
.Smart .txt span {
    display: block;
    font-size: 25px;
    font-weight: 700;
}
/* 
.Smart
 */

/* 
.Bespoke
 */
.Bespoke {
    background: #fff;
}
.Bespoke .container {
    text-align: center;
}
.Bespoke h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}
.Bespoke .container > span {
    display: inline-block;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 30px;
}
.Bespoke .content {
    display: flex;
    text-align: left;
    gap: 20px;
}
.Bespoke .itm {
    display: flex;
    align-items: flex-end;
    height: 500px;
    padding: 25px;
    border-radius: 10px;
}
.Bespoke .itm01 {
    flex: 2;
    background: url(../img/m3840x1440/kv_v2.jpg) no-repeat center center/cover;
}
.Bespoke .itm02 {
    flex: 2;
    background: url(../img/m3840x1440/kv_v3.jpg) no-repeat center center/cover;
}
.Bespoke .itm03 {
    flex: 1;
    background: url(../img/ss672x672/ss05.jpg) no-repeat center center/cover;
}
.Bespoke .txt {
    color: #fff;
}
.Bespoke .txt h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.Bespoke h3 > strong {
    font-size: 23px;
    font-weight: 900;
}
.Bespoke .txt p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
}
.Bespoke .txt a {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    padding: 3px 20px 5px 20px;
    border: 1px solid #fff;
    border-radius: 3px;
}
/* 
.Bespoke
 */

/* 
.c04
 */
.c04 {
    background: #ddd;
    height: 200vh;
}
/* 
.c04
 */

/* 
.c05
 */
.c05 {
    background: #fff;
}
/* 
.c05
 */
